.box {
  margin: .5rem 0;
  border-left: .01rem solid lightgray;
  display: flex;
  flex-direction: column;
  padding-left: .4rem;
}
.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 1.5rem;
  width: 100%;
}
button {
  min-height: 1.5rem;
  min-width: 1.5rem;
  padding: 0;
}
html {overflow-y: scroll}
input[type='checkbox'] {
  margin: 0;
  min-height: 1.5rem;
  min-width: 1.5rem;
  vertical-align: top;
}
input[type='range'] {width: 100%;}
progress::-webkit-progress-bar {
  background-color: whitesmoke;
}
progress::-webkit-progress-value {
  background-color: lightseagreen;
}
progress {
  -webkit-appearance: none;
  height: .4rem;
  vertical-align: 0;
  width: 100%;
}